---
import Navbar from '../components/Navbar.astro'

const posts = await Astro.glob('./posts/*.md');
---
<html>
  <head>
    <title>John Costa - Blog</title>
  </head>
  <body class="w-full flex flex-col items-center bg-polar-night-400">
    <Navbar />
    <div class="w-full max-w-xl flex flex-col gap-4 p-4">
      {posts.map((post) => (
        <a href={post.url} class="flex flex-col border-frost-400 border-2 text-snow-storm-100 p-4 rounded-lg">
          <h1 class="text-2xl">{post.frontmatter.title}</h1>
          <p class="text-sm">{post.frontmatter.description}</p>
          <p class="text-sm">{post.frontmatter.date}</p>
        </a>
      ))}
    </div>
  </body>
</html>
