---
const headings = [
  {
    name: 'Home',
    url: '/'
  },
  {
    name: 'Blog',
    url: '/blog'
  }
]
---
<div class="w-full h-32 flex justify-center">
  <div class="w-full max-w-4xl h-full gap-2 flex justify-between">
    {headings.map((h) => (
      <div class="flex justify-center items-center">
        <a href={h.url} class="text-3xl text-snow-storm-300 cursor-pointer hover:text-3xl transition-all duration-500">
          {h.name}
        </a>
      </div>
    ))}
  </div>
</div>
