<!doctype html>
<html lang="{{- site.Language.Lang -}}">
  <head>
    {{- partial "head.html" . -}}
    <link rel="alternate"
      type="application/rss+xml"
      href="{{.Site.BaseURL }}/index.xml"
      title="{{ .Site.Title }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="page">
      <header class="page__header">{{- partial "header.html" . -}}</header>

      <section class="page__body">{{ .Content }}</section>

      <section class="page__aside">
        <div class="aside__about">{{- partial "about.html" . -}}</div>
        <hr />
        <div class="aside__content">
          {{- block "aside" . }}{{- end }}{{partial "allTags.html" . -}}
        </div>
        <div class="aside__content">
          {{- block "aside" . }}{{- end }}{{partial "recentPosts.html" . -}}
        </div>
      </section>

      <footer class="page__footer">{{- partial "footer.html" . -}}</footer>
    </div>
  </body>
</html>
