---
---
<html>
  <head>
    <title>My Layout</title>
  </head>
  <body class="flex justify-center bg-polar-night-400 p-8">
    <div class="w-1/2">
      <div class="prose prose-invert">
        <slot />
      </div>
    </div>
  </body>
</html>
