---
import Navbar from '../components/Navbar.astro';
const { frontmatter } = Astro.props
---
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Blog post</title>
  </head>
  <body class="flex flex-col items-center bg-polar-night-400">
    <Navbar />
    <div class="w-full max-w-4xl p-8 flex justify-center">
      <div class="w-full prose prose-invert">
        <h1 class="text-5xl">{frontmatter.title}</h1>
        <slot />
      </div>
    </div>
  </body>
</html>
